<%- include("templates/header") %>
    <div class="container">
        <div class=" d-flex justify-content-center">
            <img src="/404.jpg" alt="404">
        </div>
        <br>
        <div class=" d-flex justify-content-center">
            <h1>Page not found - 404</h1>
        </div>
    </div>
<%- include("templates/footer") %>