<%- include("templates/header") %>
    <div class="d-flex justify-content-center 
                 align-items-center">
        <div class="col-md-12 text-center">
            <h1><%= statusCode %></h1>
            <h2><%= error %></h2>
            <a href="/"><button type="button" class="btn btn-primary">Return to home page</button></a>
        </div>
    </div>
<%- include("templates/footer") %>