<%- include("templates/header") %>
    <div class="container">
        <div class="d-flex justify-content-center mt-4">
            <h2 style='color:<%= color %>;'>Author</h2>
        </div>
        <div class="d-flex justify-content-center">
            <h1 style='color:<%= color %>;'>Tommy Ren</h1>
        </div>
    </div>
<%- include("templates/footer") %> 