<%- include("templates/header") %>
<div class = "container">
    <div class="successText1">Add your Fridge</div>
    <div class="d-flex justify-content-center">
        <img src="/image/connectionSuccess.png" class="connectSuccessImage">
    </div>
    <p class="successText2">Set up your new fridge and start tracking</p>
    <div class="center">
        <a class="btn btn-success btn-lg mt-3" id="save" href="/instruction">Get Started</a>
    </div>
</div>
<%- include("templates/footer") %>