<%- include("templates/header") %>


<div class = "container" style="width:430px; height:932px;">
    <div class="connectSuccessText" id="connectSuccess">Add your Fridge</div>
    <img style="display:block;margin-left:auto; margin-right:auto;" src="/image/connectionSuccess.png" width="95%" height="60%">
    <p class="connectSuccessText">Set up your new fridge and start tracking</p>
    <form action="/instruction" class="connectSuccessForm">
        <div class="SaveButton">
            <button class="btn btn-success btn-lg" id="save">Get Started</button>
        </div>
    </form>
</div>


    
<%- include("templates/footer") %>