<%- include("templates/header") %>


<div class = "container" style="width:430px; height:932px;">
    <div class="connectSuccessText" id="connectSuccess">Connect Successfully!</div>
    <img style="display:block;margin-left:auto; margin-right:auto;" src="/image/connectionSuccess.png" width="95%" height="60%">
    <p class="connectSuccessText">Now it's time to give your new fridge a name!</p>
    <form action="" class="connectSuccessForm">
        <input class="fridgeNameInput" type="text"  placeholder="Super Fridge #1">
        <div class="SaveButton">
            <button class="btn btn-success btn-lg" id="save">Save</button>
        </div>
        
    </form>
</div>


    
<%- include("templates/footer") %>