<%- include("templates/header") %>
    <div class="container">
        <div class="row">
            <div class="col-sm-9 col-md-7 col-lg-5 mx-auto mt-30">
                <div class="card card-signin my-5">
                    <div class="card-body">
                        <div class="text-center fw-semibold mb-4">Email your email and we'll send you a link to reset
                            your password</div>
                        <form class="form-signin" action="/resetPassword" method="post">
                            <div class="form-label-group">
                                <input name="email" type="email" id="emailResetPassword" class="form-control"
                                    placeholder="Email address" required>
                            </div>
                            <button class="btn btn-lg btn-primary btn-block" type="submit">Send link to email</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
<%- include("templates/footer") %>