<%- include("templates/header") %>
    <div class="container">
        <div class="row">
            <div class="col-sm-9 col-md-7 col-lg-5 mx-auto">
                <div class="card card-signin my-5">
                    <div class="card-body">
                        <div class="text-center fw-semibold mb-4">Email your email and we'll send you a link to reset
                            your password</div>
                        <form class="form-signin" action="/resetPassword" method="post">
                            <div class="form-label-group">
                                <input name="email" type="email" id="emailResetPassword" class="form-control"
                                    placeholder="Email address" required>
                            </div>
                            <button id="submit" class="btn btn-lg btn-primary btn-block" type="submit" onclick="">Send link to email</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>

<script type="text/javascript">
    function run() {
        var div = document.createElement("div");
        div.addEventListener("click", run); 
        div.innerHTML = "<div class='text-center fw-semibold mb-4' >Please check your email</div>"; 
        this.parentNode.appendChild(div); 
        this.removeEventListener("click", run);
    }
    document.getElementById("submit").addEventListener("click", run);
</script>
<%- include("templates/footer") %>