<%- include("templates/header") %>
  <div class="container">
    <div id="ready">Get Camera ready to connect to Wi-Fi</div>
    <div class="d-flex justify-content-center">
      <img src="/image/instruction.png" class="instruction-img" width="200px" height="350px">
    </div>

    <div class="num-content">
      <div class="cover">
        <div>
          <svg id="num1" class="circle" width="70" height="70">
            <circle cx="35" cy="35" r="25" stroke="green" stroke-width="2" fill="white" />
            Sorry, your browser does not support inline SVG.
            <text fill="#000000" font-size="18" font-family="Verdana" x="50%" y="50%" dominant-baseline="middle"
              text-anchor="middle">1</text>
          </svg>
        </div>
  
        <div>
          <svg id="num2" class="circle" width="70" height="70">
            <circle cx="35" cy="35" r="25" stroke="green" stroke-width="2" fill="white" />
            Sorry, your browser does not support inline SVG.
            <text fill="#000000" font-size="18" font-family="Verdana" x="50%" y="50%" dominant-baseline="middle"
              text-anchor="middle">2</text>
          </svg>
        </div>
  
        <div>
          <svg id="num3" class="circle" width="70" height="70">
            <circle cx="35" cy="35" r="25" stroke="green" stroke-width="2" fill="white" />
            Sorry, your browser does not support inline SVG.
            <text fill="#000000" font-size="18" font-family="Verdana" x="50%" y="50%" dominant-baseline="middle"
              text-anchor="middle">3</text>
          </svg>
        </div>
      </div>
  
      <div class="content">
        <div id="instruction1" class="description num1">Place the camera inside the fridge and turn it on</div>
        <div id="instruction2" class="description">Connect mobile device to Wi-Fi</div>
        <div id="instruction3" class="description">Turn on Nearby Device Permission, Precise Location and connect to Camera</div>
      </div> 
    </div>

    <form class="continue" action="/waiting">
      <button class="btn btn-success">Continue</button>
    </form>
    
    
  </div>

  
  <!-- <a href="/waiting">Continue</a> -->

<%- include("templates/footer") %>