<%- include("templates/header") %>
<section class="small-receipe-area section-padding-80-0">
    <div class="container">
        <div class="row">

            <!-- Small Receipe Area -->
            <div class="col-12 col-sm-6 col-lg-4">
                <div class="single-small-receipe-area d-flex">
                    <!-- Receipe Thumb -->
                    <div class="receipe-thumb">
                        <img src="image/sr/sr1.jpg" alt="">
                    </div>
                    <!-- Receipe Content -->
                    <div class="receipe-content">
                        <span>January 04, 2018</span>
                        <a href="/eachRecipe">
                            <h5>Homemade italian pasta</h5>
                        </a>
                        <div class="ratings">
                            <i class="fa fa-star" aria-hidden="true"></i>
                            <i class="fa fa-star" aria-hidden="true"></i>
                            <i class="fa fa-star" aria-hidden="true"></i>
                            <i class="fa fa-star" aria-hidden="true"></i>
                            <i class="far fa-star" aria-hidden="true"></i>
                        </div>
                        <p>2 Comments</p>
                    </div>
                </div>
            </div>

            <!-- Small Receipe Area -->
            <div class="col-12 col-sm-6 col-lg-4">
                <div class="single-small-receipe-area d-flex">
                    <!-- Receipe Thumb -->
                    <div class="receipe-thumb">
                        <img src="image/sr/sr2.jpg" alt="">
                    </div>
                    <!-- Receipe Content -->
                    <div class="receipe-content">
                        <span>January 04, 2018</span>
                        <a href="/eachRecipe">
                            <h5>Baked Bread</h5>
                        </a>
                        <div class="ratings">
                            <i class="fa fa-star" aria-hidden="true"></i>
                            <i class="fa fa-star" aria-hidden="true"></i>
                            <i class="fa fa-star" aria-hidden="true"></i>
                            <i class="fa fa-star" aria-hidden="true"></i>
                            <i class="far fa-star" aria-hidden="true"></i>
                        </div>
                        <p>2 Comments</p>
                    </div>
                </div>
            </div>

            <!-- Small Receipe Area -->
            <div class="col-12 col-sm-6 col-lg-4">
                <div class="single-small-receipe-area d-flex">
                    <!-- Receipe Thumb -->
                    <div class="receipe-thumb">
                        <img src="image/sr/sr3.jpg" alt="">
                    </div>
                    <!-- Receipe Content -->
                    <div class="receipe-content">
                        <span>January 04, 2018</span>
                        <a href="/eachRecipe">
                            <h5>Scalops on salt</h5>
                        </a>
                        <div class="ratings">
                            <i class="fa fa-star" aria-hidden="true"></i>
                            <i class="fa fa-star" aria-hidden="true"></i>
                            <i class="fa fa-star" aria-hidden="true"></i>
                            <i class="fa fa-star" aria-hidden="true"></i>
                            <i class="far fa-star" aria-hidden="true"></i>
                        </div>
                        <p>2 Comments</p>
                    </div>
                </div>
            </div>

            <!-- Small Receipe Area -->
            <div class="col-12 col-sm-6 col-lg-4">
                <div class="single-small-receipe-area d-flex">
                    <!-- Receipe Thumb -->
                    <div class="receipe-thumb">
                        <img src="image/sr/sr4.jpg" alt="">
                    </div>
                    <!-- Receipe Content -->
                    <div class="receipe-content">
                        <span>January 04, 2018</span>
                        <a href="/eachRecipe">
                            <h5>Fruits on plate</h5>
                        </a>
                        <div class="ratings">
                            <i class="fa fa-star" aria-hidden="true"></i>
                            <i class="fa fa-star" aria-hidden="true"></i>
                            <i class="fa fa-star" aria-hidden="true"></i>
                            <i class="fa fa-star" aria-hidden="true"></i>
                            <i class="far fa-star" aria-hidden="true"></i>
                        </div>
                        <p>2 Comments</p>
                    </div>
                </div>
            </div>

            <!-- Small Receipe Area -->
            <div class="col-12 col-sm-6 col-lg-4">
                <div class="single-small-receipe-area d-flex">
                    <!-- Receipe Thumb -->
                    <div class="receipe-thumb">
                        <img src="image/sr/sr5.jpg" alt="">
                    </div>
                    <!-- Receipe Content -->
                    <div class="receipe-content">
                        <span>January 04, 2018</span>
                        <a href="/eachRecipe">
                            <h5>Macaroons</h5>
                        </a>
                        <div class="ratings">
                            <i class="fa fa-star" aria-hidden="true"></i>
                            <i class="fa fa-star" aria-hidden="true"></i>
                            <i class="fa fa-star" aria-hidden="true"></i>
                            <i class="fa fa-star" aria-hidden="true"></i>
                            <i class="far fa-star" aria-hidden="true"></i>
                        </div>
                        <p>2 Comments</p>
                    </div>
                </div>
            </div>

            <!-- Small Receipe Area -->
            <div class="col-12 col-sm-6 col-lg-4">
                <div class="single-small-receipe-area d-flex">
                    <!-- Receipe Thumb -->
                    <div class="receipe-thumb">
                        <img src="image/sr/sr6.jpg" alt="">
                    </div>
                    <!-- Receipe Content -->
                    <div class="receipe-content">
                        <span>January 04, 2018</span>
                        <a href="/eachRecipe">
                            <h5>Chocolate tart</h5>
                        </a>
                        <div class="ratings">
                            <i class="fa fa-star" aria-hidden="true"></i>
                            <i class="fa fa-star" aria-hidden="true"></i>
                            <i class="fa fa-star" aria-hidden="true"></i>
                            <i class="fa fa-star" aria-hidden="true"></i>
                            <i class="far fa-star" aria-hidden="true"></i>
                        </div>
                        <p>2 Comments</p>
                    </div>
                </div>
            </div>

            <!-- Small Receipe Area -->
            <div class="col-12 col-sm-6 col-lg-4">
                <div class="single-small-receipe-area d-flex">
                    <!-- Receipe Thumb -->
                    <div class="receipe-thumb">
                        <img src="image/sr/sr7.jpg" alt="">
                    </div>
                    <!-- Receipe Content -->
                    <div class="receipe-content">
                        <span>January 04, 2018</span>
                        <a href="/eachRecipe">
                            <h5>Berry Desert</h5>
                        </a>
                        <div class="ratings">
                            <i class="fa fa-star" aria-hidden="true"></i>
                            <i class="fa fa-star" aria-hidden="true"></i>
                            <i class="fa fa-star" aria-hidden="true"></i>
                            <i class="fa fa-star" aria-hidden="true"></i>
                            <i class="far fa-star" aria-hidden="true"></i>
                        </div>
                        <p>2 Comments</p>
                    </div>
                </div>
            </div>

            <!-- Small Receipe Area -->
            <div class="col-12 col-sm-6 col-lg-4">
                <div class="single-small-receipe-area d-flex">
                    <!-- Receipe Thumb -->
                    <div class="receipe-thumb">
                        <img src="image/sr/sr8.jpg" alt="">
                    </div>
                    <!-- Receipe Content -->
                    <div class="receipe-content">
                        <span>January 04, 2018</span>
                        <a href="/eachRecipe">
                            <h5>Zucchini Grilled on peper</h5>
                        </a>
                        <div class="ratings">
                            <i class="fa fa-star" aria-hidden="true"></i>
                            <i class="fa fa-star" aria-hidden="true"></i>
                            <i class="fa fa-star" aria-hidden="true"></i>
                            <i class="fa fa-star" aria-hidden="true"></i>
                            <i class="far fa-star" aria-hidden="true"></i>
                        </div>
                        <p>2 Comments</p>
                    </div>
                </div>
            </div>

            <!-- Small Receipe Area -->
            <div class="col-12 col-sm-6 col-lg-4">
                <div class="single-small-receipe-area d-flex">
                    <!-- Receipe Thumb -->
                    <div class="receipe-thumb">
                        <img src="image/sr/sr9.jpg" alt="">
                    </div>
                    <!-- Receipe Content -->
                    <div class="receipe-content">
                        <span>January 04, 2018</span>
                        <a href="/eachRecipe">
                            <h5>Chicken Salad</h5>
                        </a>
                        <div class="ratings">
                            <i class="fa fa-star" aria-hidden="true"></i>
                            <i class="fa fa-star" aria-hidden="true"></i>
                            <i class="fa fa-star" aria-hidden="true"></i>
                            <i class="fa fa-star" aria-hidden="true"></i>
                            <i class="far fa-star" aria-hidden="true"></i>
                        </div>
                        <p>2 Comments</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<%- include("templates/footer") %>
