<%- include("templates/header") %>
  <div class="container">
    <div class="row">
      <div class="col-sm-9 col-md-7 col-lg-5 mx-auto">
        <div class="card card-signin my-5">
          <div class="card-body">
            <h5 class="card-title text-center">Register</h5>

            <form class="form-signin" action="/registerSubmit" method="post">
              <div class="form-label-group">
                <input name="registerName" type="password" id="registerName" class="form-control" placeholder="Name"
                  required>
              </div>

              <div class="form-label-group">
                <input name="registerEmail" type="email" id="registerEmail" class="form-control"
                  placeholder="Email address" required autofocus>
              </div>

              <div class="form-label-group">
                <input name="registerPassword" type="password" id="registerPassword" class="form-control"
                  placeholder="Password" required>
              </div>

              <button class="btn btn-lg btn-primary btn-block text-uppercase" type="submit">Register</button>

              <div class="text">
                Already have an account? <a href="/login">Log In</a>
              </div>

              <hr style="margin-top: 10rem;" class="my-4">
              <button class="btn btn-lg btn-google btn-block text-uppercase" type="submit"><i
                  class="fab fa-google mr-2"></i>Register with Google</button>
              <button class="btn btn-lg btn-facebook btn-block text-uppercase" type="submit"><i
                  class="fab fa-facebook-f mr-2"></i>Register with Facebook</button>
            </form>

          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- <%- include("templates/footer") %> -->