<%- include("templates/header") %>
    <div class="container mt-3">
        <h1>Sign up</h1>
        <form action="/signupSubmit" method="post">
            <div class="mb-3">
                <label for="nameLable" class="form-label">Your name</label>
                <input name="name" type="text" class="form-control">
            </div>
            <div class="mb-3">
                <label for="emailLable" class="form-label">Email address</label>
                <input name="email" type="email" class="form-control" aria-describedby="emailHelp">
                <div id="emailHelp" class="form-text">We'll never share your email with anyone else.</div>
            </div>
            <div class="mb-3">
                <label for="passwordLable" class="form-label">Password</label>
                <input name="password" type="password" class="form-control">
            </div>
            <button type="submit" class="btn btn-primary mb-3">Sign up</button>
        </form>
        <div>Already have an account? <a href='/login'>Log in</a></div>
    </div>
<%- include("templates/footer") %>