<%- include("templates/header") %>
<div class="waiting">
  <div class="spinner">
    <span class="spinner-border" ></span>
    <label id="load">Loading</label>
    
  </div>
  <p id="connect">Connecting to fridge</p>
  
</div>

<!-- <script type="text/javascript">   
  function Redirect() 
  {  
      window.location="connectSuccess"; 
  } 
  setTimeout('Redirect()', 2200);   
</script> -->

<%- include("templates/footer") %>