<%- include("templates/header") %>

<div class="wrapper">
  <div class="spinner">
    <span class="spinner-border" role="status"></span>
    <label style="font-size:xx-large" id="load">Loading</label>
    <p style="font-size:xx-large" id="connect">Connect to fridge</p>
  </div>
</div>
<script type="text/javascript">   
  function Redirect() 
  {  
      window.location="connectSuccess"; 
  } 
  setTimeout('Redirect()', 1200);   
</script>

<%- include("templates/footer") %>