#ready{
    display: block;
    text-align: center;
    font-size: 1.9rem;
    margin-top: 1rem;
    margin-bottom: 1rem;
    font-weight: bold;
}
.description{
    display: inline-block;
    font-size: 1.5rem;
}

.circle {
    float: left;
}

.cover {
    margin-top: 1.5rem;
    position: absolute; 
    z-index:2;
}

.num-content{
    position: absolute; 
    z-index:1; 
}

.content{
    margin-top: 1.5rem;
    /* position: absolute; 
    z-index:1;  */
    margin-left:70px;
    display: inline-block;
    margin-right:auto;
}

.instruction-img{
    width: 70vw;
}
#instruction1 {
    margin-top: 18px;
}

#instruction2 {
    margin-top: 26px;
}

#instruction3 {
    margin-top: 43px;
}

#num2 {
    margin-top: 25px;
}

#num3{
    margin-top: 16px;
}

.btn{
    font-size: 1.8rem;
    height: 4rem;
    width: 10rem;
}
.continue{
    margin-top: 360px;
    text-align: center;
}

