:root {
  --input-padding-x: 1.5rem;
  --input-padding-y: .75rem;
}

body {
  background: url("/image/fridge-bg.png");
  background-repeat: no-repeat;
  background-size: 100% 100%;
  min-height: 100vh;
  width: 100vw;
  display: grid;
  place-items: center;
}


.my-5 {
  background-color: rgba(255, 255, 255, 0.75);
}

.mt-10 {
  margin-top: 10vh;
}

.mt-25 {
  margin-top: 25vh;
}

.mt-30 {
  margin-top: 30vh;
}

.card-signin {
  border: 0;
  border-radius: 0rem;
  box-shadow: 0 0.5rem 1rem 0 rgba(0, 0, 0, 0.1);
}

.card-signin .card-title {
  margin-bottom: 2rem;
  /* font-weight: 300; */
  font-size: 2.5rem;
}

.card-signin .card-body {
  padding: 2rem;

}

.form-signin {
  width: 100%;
}

.form-signin .btn {
  width: 100%;
  font-size: 100%;
  border-radius: 0rem;
  letter-spacing: .1rem;
  font-weight: bold;
  margin-bottom: 1rem;
  padding: 1rem;
  transition: all 0.2s;
  border-radius: .5rem;
}

.form-label-group {
  position: relative;
  margin-bottom: 1rem;
}

.form-label-group input {
  height: auto;
}

.form-label-group>input {
  padding: var(--input-padding-y) var(--input-padding-x);
}

.form-label-group>label {
  cursor: text;
  position: absolute;
  top: 0;
  left: 0;
  display: block;
  width: 100%;
  margin-bottom: 0;
  /* Override default `<label>` margin */
  line-height: 1.5;
  color: #495057;
  border: 0.5px solid transparent;
  border-radius: .25rem;
  transition: all .1s ease-in-out;
}


.btn-google {
  color: white;
  background-color: rgb(234, 67, 53);
}

.btn-google:hover {
  color: white;
  background-color: rgb(201, 62, 49);
}

.btn-facebook {
  color: white;
  background-color: rgba(60, 125, 222);
}

.btn-facebook:hover {
  color: white;
  background-color: rgb(43, 105, 199);

}

.text {
  margin-top: 1rem;
  text-align: right;
  font-size: 100%;
  font-weight: 500;
}

.divider:after,
.divider:before {
  content: "";
  flex: 1;
  height: 1px;
  background: black;
}

.spinner-border{
  padding: 20px;
  color: rgb(254, 252, 252);
}

#load, #connect {
  font-size: 30px;
  color: rgb(254, 252, 252);
  font-weight: bold;
}