body{

    background: url("/image/fridge-bg.png");
    background-repeat: no-repeat;
    background-size: 100% 100%;
    min-height: 100vh;
}

.container {    
    padding-top:10%;
}

.form-text {
    font-size: 1.1rem;
}
.card-header {
    padding: 1.2rem; 

    
    background-color: rgb(49 108 244 /90%);
    color: white;
}



.card {
    background-color: rgb(255 255 255 / 75%);
}

#inputResetPasswordEmail, #helpResetPasswordEmail , .form-group {
    margin-top: 1rem;
}

.btn-class {
    padding-top: 1rem;
    padding-bottom: 1rem;
}

.btn-class{
    text-align:center;
}