body {
    background-color: #D9D9D9;
}

.view {
    margin-left: 20px;
    font-size: 25px;
}

#fridgelist {
    text-align: left;
    margin-left: 20px;
    margin-top: 10px;
    font-size: 30px;
    font-weight: bold;
    font-style: italic;
}

#fridgebutton {
    background-color: #D9D9D9; 
    border-color: #b4b4b8;
    border-width: 3px;
    margin-left: 20px;
    margin-top: 10px;
    font-size: 25px;
    color: black;
}

#divider {
    border-width: 5px;
}