@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;0,400;1,400&display=swap");

@media screen and (max-width: 920px) and (max-height: 430px) {
    /* CSS code for 920x430 resolution */
}

@media screen and (min-width: 921px) and (min-height: 431px) and (max-width: 1920px) and (max-height: 1080px) {
    /* CSS code for 1920x1080 resolution */
}

@media screen and (min-width: 1921px) and (min-height: 1081px) and (max-width: 1024px) and (max-height: 1366px) {
    /* CSS code for 1024x1366 resolution */
}

/************************ All Pages  ***************************/

:root {
    /*========== Font and typography ==========*/
    --body-font: 'Roboto', sans-serif;
    --h1-font-size: 1.5rem;
    --normal-font-size: .938rem;
    --tiny-font-size: .625rem;
}


html {
    scroll-behavior: smooth;
}

body {
    font-family: var(--body-font);
    font-size: var(--normal-font-size);
    line-height: 1.5;
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
}

.container {
    width: 100vw;
    justify-content: center;
    align-items: center;
}

/************************ Navbar  ***************************/
.nav-icon {
    color: black;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.navbar {
    justify-content: space-between;
    background-color: rgba(75, 152, 194, 0.6);
    border-radius: 1.75rem 1.75rem 0 0;
    box-shadow: 0 -1px 12px hsla(174, 63%, 15%, 0.15);
}

.nav-icon .material-symbols-outlined {
    font-size: 2.25rem;
}


/************************ Landing Page  ***************************/
.logo {
    width: 80vw;
}

/************************ Login & Forget Password Page  ***************************/




/************************ Inventory Page  ***************************/


/************************ Shopping Page  ***************************/


/************************ Setting Page  ***************************/