@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;0,400;1,400&display=swap");

@media screen and (max-width: 920px) and (max-height: 430px) {
    /* CSS code for 920x430 resolution */
}

@media screen and (min-width: 921px) and (min-height: 431px) and (max-width: 1920px) and (max-height: 1080px) {
    /* CSS code for 1920x1080 resolution */
}

@media screen and (min-width: 1921px) and (min-height: 1081px) and (max-width: 1024px) and (max-height: 1366px) {
    /* CSS code for 1024x1366 resolution */
}

/************************ All Pages  ***************************/

:root {
    /*========== Font and typography ==========*/
    --body-font: 'Roboto', sans-serif;
    --h1-font-size: 1.5rem;
    --normal-font-size: .938rem;
    --tiny-font-size: .625rem;
}


html {
    scrollbar-width: none;
    scroll-behavior: smooth;
}

body {
    font-family: var(--body-font);
    font-size: var(--normal-font-size);
    line-height: 1.5;
    margin: 0;
    padding: 0;
}

h5 {
    color: #000000;
    line-height: 1.3;
    font-weight: 600;
}

a {
    text-decoration: none;
}

ul {
    list-style-type: none;
    display: inline;
}

li {
    list-style-type: none;
}

.container {
    width: 100vw;
    justify-content: center;
    align-items: center;
}

.m-10 {
    height: 10vh;
}

.m-6 {
    height: 6vh;
}

.mb-12 {
    margin-bottom: 12vh;
}

/************************ Navbar  ***************************/
.nav-icon {
    color: black;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.navbar {
    background-color: rgba(44, 102, 228);
    box-shadow: 0 -1px 12px hsla(174, 63%, 15%, 0.15);
}

.nav-icon .material-symbols-outlined {
    font-size: 2.25rem;
}

/************************ Landing Page  ***************************/
.logo {
    width: 80vw;
}

/************************ Login & Forget Password Page  ***************************/


/************************ Inventory Page  ***************************/
#fridgeImage {
    background-position: center;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    height: 100vh;
}

#fridgename {
    text-align: left;
    position: fixed;
    left: 20px;
    top: 2.5vh;
    font-size: 30px;
    font-weight: bold;
    font-style: italic;
    color: rgb(30, 30, 30);
}

#eye {
    background-color: #D9D9D9;
    border-color: #b4b4b8;
    border-width: 3px;
    position: fixed;
    right: 20px;
    top: 2.5vh;
}

/************************ List Page  ***************************/
.navtop {
    background-color: rgba(44, 102, 228, 0.6);
    width: 100vw;
    height: 10vh;
    min-height: 70px;
    position: fixed;
    z-index: 99;
}

#selectIngredients {
    height: 50px;
    width: 80px;
}

#slasheye {
    background-color: #D9D9D9;
    border: 3px solid #b4b4b8;
    margin-right: 20px;
}

#select {
    background-color: #D9D9D9;
    border: 3px solid #b4b4b8;
    font-size: 25px;
    color: black;
    padding: 5px 10px;
    margin-right: 10px;
}

#item {
    margin-top: 15vh;
    height: 15vh;
    width: 100%;
    overflow-y: hidden;
    display: flex;
    flex-direction: column;
    align-items: center;
}

/************************ Recipe Page  ***************************/


/************************ Shopping Page  ***************************/
.popup {
    display: none;
    background-color: #FFFB9C;
    position: fixed;
    top: 50%;
    left:50%;
    transform: translate(-50%, -50%);
    border-radius: 15px;
    width: 85vw;
    text-align: center;
    
}
  .popup-content{
    height: 250px;
    width: 100%;
    background-color: #FFFB9C;
    border-radius: 25px;
    position: relative;
  }
  
  .popUpInput{
    margin: 20px auto;
    display: block;
    width: 80%;
    height: 65%;
    padding:15px;
    border: 1px solid gray;
  
  }
  
  .close {
    position: absolute;
    top: 1px;
    right: 3px;
    background: white;
    color: dark;
    height: 30px;
    width: 30px;
    border-radius: 50%;
    cursor: pointer;
  }

  
.shopping {
    width: 100vw;
    height: auto;
    background-color: #fff;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.toppage {
    display: flex;
    align-items: center;
    background-repeat: no-repeat;
    background-size: 100% auto;
    width: 100vw;
    height: 10vh;
}

#back {
    background-color: #D9D9D9;
    border-color: #b4b4b8;
    border-width: 3px;
    margin-left: 20px;
    font-size: 25px;
    color: black;
}

#expand {
    background-color: #D9D9D9;
    border-color: #b4b4b8;
    border-width: 3px;
    margin-left: auto;
    margin-right: 20px;
    font-size: 25px;
    color: black;
}

.search {
    display: flex;
    align-items: center;
    margin-top: 20px;
    border-bottom: 1px solid #b4b4b8;
    height: 5vh;
}

.search input {
    flex-grow: 1;
    padding: 10px;
    border: 1px solid #ffffff;
    height: 100%;
}


.searchItem {
    width: 100vw;
    /* height: 700px; */
    margin-top: 20px;
    margin-left: 10px;
    margin-right: 10px;
    justify-content: center;
    align-items: flex-start;
    /* display: none; */
    flex-direction: column;
    overflow-y: auto;
}


.itemList {
    width: 100vw;
    height: auto;
    margin-top: 20px;
    justify-content: center;
    align-items: flex-start;
    display: flex;
    flex-direction: column;
    overflow-y: auto;
}

.addButton {
    display: flex;
    justify-content: center;
    width: 100vw;
    height: auto;
}

#add {
    width: 90vw;
    background-color: #D9D9D9;
    border-color: #b4b4b8;
    border-width: 3px;
    margin-top: 10px;
    font-size: 25px;
    color: black;
}

.oval-button {
    border-radius: 50%; /* sets the border radius to half of its width to create an oval shape */
    background-color: #FFFB9C;
  }


/************************ Setting Page  ***************************/
.user-info {
    margin-left: 20px;
    font-size: 25px;
}

#fridgelist {
    text-align: left;
    margin-left: 20px;
    margin-top: 10px;
    font-size: 30px;
    font-weight: bold;
    font-style: italic;
}

#fridgebutton {
    border-color: #b4b4b8;
    border-width: 3px;
    margin-left: 20px;
    margin-top: 10px;
    font-size: 25px;
    color: black;
}

#divider {
    border-width: 5px;
}

/************************ Check Box ***************************/