<div class="col-md-4 themed-grid-col" id="item">
    <div class="col d-flex align-items-start">
        <img src=<%= ingredient.url %> width="150" height="150">
        <div>
            <h3 class="fw-bold mb-0 fs-4 text-body-emphasis"><%= ingredient.name %></h3>
            <p>Expired: <%= ingredient.expiredDate %></p>
            <p>Quantity: <%= ingredient.quantity %></p>
        </div>
    </div>
</div>