<li>
    <div class="form-check d-flex align-items-center">
        <div class="col-10 d-inline-flex">
            <label class="form-check-label d-inline-flex">
                <div class="eachlist">
                    <h3 class="">Shopping List <%= list.key %> - <%= list.date %></h3>
                </div>
            </label>
        </div>
    </div>
</li>