<nav class="navbar fixed-bottom d-flex justify-content-evenly">
    <a href="/home" class="nav-icon">
        <span class="material-symbols-outlined">
            kitchen
        </span>
        Inventory
    </a>
    <a href="/shopping" class="nav-icon">
        <span class="material-symbols-outlined">
            shopping_cart
        </span>
        Cart
    </a>
    <a href="/notification" class="nav-icon">
        <span class="material-symbols-outlined">
            notifications
        </span>
        Notify
    </a>
    <a href="/setting" class="nav-icon">
        <span class="material-symbols-outlined">
            settings
        </span>
        Setting
    </a>
</nav>