<li>

            <div class="col-sm">
                <img src="/image/ingredient/<%= item.url %>" class="img-fluid w-50">
            </div>

            
            <div class="col-sm">
                <%= item.name %>
            </div>

           
            <div class="col-sm">
                <button class="oval-button">Note</button>
            </div>

           
            <div class="col-sm">
                <input id="amount" type="number" placeholder="amount" name="amount">
            </div>

            
            <div class="col-sm">
                <form action="/addSearch" method="post">
                    <button type="button" class="btn btn-info p-5 rounded-circle btn-sm">+</button>
                </form>
            </div>
          
    
</li>
