<li>
    <div class="form-check d-flex align-items-center">
        <div class="row">
            //for img
            <div class="col-sm">
                <img src="/image/items/<%= item.url %>" class="img-fluid w-50">
                img
            </div>

            //for name
            <div class="col-sm">
              Name
            </div>

            //for note
            <div class="col-sm">
                <button class="oval-button">Note</button>
            </div>

            //for amount
            <div class="col-sm">
                <input id="amount" type="number" placeholder="amount" name="amount" value="">
            </div>

            //for add button
            <div class="col-sm">
                <button type="button" class="btn btn-info p-5 rounded-circle btn-sm">+</button>
            </div>
          </div>
    </div>
</li>
