<li style="margin-bottom: 15px">

            <div class="d-inline-block mr-2">
                <img src="/image/ingredient/<%= item.url %>" class="img-fluid" style="width:100px">
            </div>

            <div class="d-inline-block mr-4" style="width: 60px">
                <%= item.name %>
            </div>
           
            <div class="d-inline-block mr-2">
                <button id="Notebutton"  class="oval-button">Note</button>
            </div>

            <div class="d-inline-block mr-2">
                <input style="width:60px; height: 30px" id="amount" type="text" placeholder="amount" name="amount">
            </div>

            <div class="d-inline-block">
                    <button type="button" class="btn btn-info rounded-circle btn-sm">+</button>
            </div>
</li>

