<li>
    <div class="form-check d-flex align-items-center">
        <div class="col-10 d-inline-flex">
            <label class="form-check-label d-inline-flex">
                <img src="/image/ingredient/<%= item.url %>" class="img-fluid w-50">
                <div class="ms-2">
                    <h3 class=""><%= item.itemName %></h3>
                    <p>Quantity: <%= item.itemAmount %></p>
                </div>
            </label>
        </div>
    </div>
</li>